.food-item {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease-in-out;
}

.food-item:hover {
  box-shadow: 0px 0px 10px rgb(255, 123, 0);
}

.food-item-image-container {
  width: 100%; 
  height: 150px;
  overflow: hidden;
  position: relative;
}

.food-item-image-container:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.food-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.food-item-image-container .add {
  position: absolute;
  bottom: .5px;
  left: .5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}


.food-item-counter {
  display: flex;
  flex-direction: row;  
  align-items: center;    
  gap: 5px;
  position: absolute;
  bottom: .5px;
  left: .5px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 80%;
  padding: 5px;
  border-radius: 50px;
}

.food-item-counter:hover{
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.food-item-counter img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}


.food-item-counter p {
  background-color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Info section */
.food-item-info {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-item-desc {
  font-size: 0.9rem;
  color: #555;
}

.food-item-price {
  font-weight: bold;
  color: #000;
  margin-top: auto;
  text-align: left;
  font-size: 20px;
}


@media (max-width: 412px) {
  .food-item {
    border-radius: 10px;
  }

  .food-item-image-container {
    height: 120px;
  }

  .food-item-image-container .add {
    width: 40px;
    height: 40px;
  }

  .food-item-counter {
    gap: 3px;
    padding: 4px;
  }

  .food-item-counter img {
    width: 10px;
    height: 10px;
  }

  .food-item-counter p {
    width: 10px;
    height: 10px;
    font-size: 0.8rem;
  }

  .food-item-info {
    padding: 8px 10px;
  }

  .food-item-name-rating p {
    font-size: 14px;
  }

  .food-item-desc {
    font-size: 0.8rem;
  }

  .food-item-price {
    font-size: 16px;
  }
}